.reservaExitosa {
    background-color: #ffffff;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
}

.reservaExitosa_section {
    background-color: var(--light_grey);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservaExitosa .icono {
    width: 30%;
    height: auto;
}

.reservaExitosa button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.reservaExitosa p {
    width: 80%;
    text-align: center;
}

.reservaExitosa h1 {
    width: 80%;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .reservaExitosa a {
        width: 122%;
    }
}
