.DatosUbicacion_div {
    background: #E5E5E5;
    display: flex;
    height: 51px;
    justify-content: space-between;
}

.DatosUbicacion_div .div_top {
    display: flex;
    margin-top: 13px;
    margin-left: 13px;
    padding: 0;
    height: 0;
}

.DatosUbicacion_div .div_top img {
    vertical-align: middle;
    height: 14px;
    margin-right: 5px;
    width: 10px;
}


.DatosUbicacion_div .div_top p {
    color: #383B58;
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    height: fit-content;
    margin: 0;
    width: fit-content;
}

.DatosUbicacion_div {
    padding: 10px 40px 0 40px;
}